body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  background-image: url("{% static 'undraw1.jpg' %}"); /* Correct path to background image */
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the background */
  height: 100vh; /* Full viewport height */
  margin: 0;
}

h1 {
  color: #5a5a5a;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Flexbox to center the image */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of the parent container (body) */
}

img {
  max-width: 80%; /* Adjust the image size as needed */
  height: auto;
}
